<a href="https://colab.research.google.com/github/datalover2023/Excel_Automation/blob/main/Python_Basics_1_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a brief overview of basics concepts of Python programming



1.   Syntax, comments, operations
2.   Variable Types
3. Lists
4. Strings
5. Tuples
6. Dictionaries
7. Dataframe
8. Loops

# 1. Syntax

In [ ]:
# Comment

# This is a comment !

In [ ]:
# print

print('Hello world')

In [ ]:
# numbers
2

In [ ]:
# operations / calculation
2+3

In [ ]:
# string/text

'This is a string'

In [ ]:
# assign a variable
x=2
y=3
print(x)
print(y)

In [ ]:
x+y

In [ ]:
# workflow, identeation

if x>0:
  print('x is grater then 0')

In [ ]:
x = -2

In [ ]:
if x>0:
  print('x is grater then 0')

In [ ]:
if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

In [ ]:
x=0
if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

In [ ]:
if x>0:
  print('x is grater then 0')
elif x==0:
  print('is equal to 0')
else:
  print('x is greater then 0')

# 2. Variable types

In [ ]:
age = 7
print(type(age))

In [ ]:
age = 7.5
print(type(age))

In [ ]:
name = 'Jessica'
print(type(name))

In [ ]:
name_age = (name, age)
print(name_age)
print(type(name_age))

In [ ]:
date = '2022-12-31'
print(date)
print(type(date))

In [ ]:
#to convert a string into date we first need to import datetime module

from datetime import datetime

datetime_str = '09/19/18 13:55:26'

datetime_object = datetime.strptime(datetime_str, '%m/%d/%y %H:%M:%S')

print(type(datetime_object))
print(datetime_object)  # printed in default format

In [ ]:
datetime_object = datetime.strptime(date, '%Y-%m-%d')
print(type(datetime_object))

In [ ]:
# Definition of pi_string
pi_string = "3.1415926"
pi_float= float(pi_string)

type(pi_float)

# 3. Lists

In [ ]:
#create a list
our_list = ["a","b","c",1,1.5]
print(our_list)

In [ ]:
# append an element to the list
our_list.append("d")
print(our_list)

In [ ]:
# access element in the list

# list numbering starts a 0

# access first element in the list
our_list[0]

In [ ]:
# access last element in the list
our_list[-1]

In [ ]:
# length of the list
len(our_list)

In [ ]:
# insert an element in the list

our_list.insert(0,"First element")# instert befor 1st element
print(our_list)

In [ ]:
# insert an element in the list

our_list.insert(-1,"element")# instert before last element
print(our_list)

In [ ]:
# remove element
our_list.remove("First element")
print(our_list)

In [ ]:
# remove element by its index

our_list.pop(0)
print(our_list)

In [ ]:
# we can have nested lists

nested_list = [[1,2,3],6,7,5]
print(nested_list)

In [ ]:
# access nested lists
len(nested_list)

In [ ]:
# access nested lists
nested_list[1]

In [ ]:
# access nested lists
nested_list[0]

In [ ]:
# access nested lists
nested_list[0][1]

# 4. Strings

In [ ]:
string_a = 'text'
string_a

In [ ]:
string_b = 'This is a '
string_b

In [ ]:
string_b + string_a

In [ ]:
string_c = string_b + string_a
string_c.lower()

In [ ]:
string_c.upper()

In [ ]:
# access
string_c[0]

In [ ]:
# length (# space is counted a 1)
len(string_c)

In [ ]:
string_d = "Derrick, Matt, Jessica"
print(string_d)
print(string_d.split(","))

# 5. Tuples

A tuple is a collection which is ordered and unchangeable (imuatable)
.

In [ ]:
tuple_a = ('Dog', 'Cat', 'Frog')

In [ ]:
# inmutable
#tuple_a.append('Mouse')

In [ ]:
# ordered

tuple_a[0]

# 6. Dictionaries

In [ ]:
# dictionary have curly brackets

our_dictionary = {"name":"Derrick",
                  "height":"6'0",
                  "location":"Lost"}

our_dictionary

In [ ]:
# a dictionary is made of keys and values
dictionary = {"key_1":"value_0",
               "key_2":"value_2",
               "key_3":"value_3"}

dictionary

In [ ]:
# access dictionary by key

print(dictionary["key_1"])

In [ ]:
# change a value by key

dictionary["key_1"] = "value_1"
print(dictionary)

In [ ]:
# add an element to dictionary

dictionary["eye color"] = "blue"
print(dictionary)

In [ ]:
# remove element
dictionary.pop("eye color")
print(dictionary)

# 7. DataFrame

In [ ]:
dataframe = {"name":['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
              "age":['30', '35', '40', '27', '52'],
              "city":['Paris', 'Berlin', 'Madrid', 'Paris', 'London']}

dataframe

In [ ]:
# create a dataframe

import pandas as pd
df1 = pd.DataFrame.from_dict(dataframe)

In [ ]:
# visualize the df

df1.head()

In [ ]:
# df dimensions

df1.shape

In [ ]:
# nb of rows

df1.shape[0]

In [ ]:
len(df1)

In [ ]:
# nb. of columns
df1.shape[1]

In [ ]:
len(df1.columns)

In [ ]:
# get df columns

df1.columns

In [ ]:
# second column name

df1.columns[1]

Accessing dataframe

In [ ]:
# access by column name

df1['age']

In [ ]:
# accessing by index

df1.iloc[0, 0]

In [ ]:
df1.iloc[-1, -1]

In [ ]:
df1.iloc[2,1]

In [ ]:
# access by index

df1.loc[2]

In [ ]:
df1.loc[2:3]

In [ ]:
df1.loc[[2,4]]

In [ ]:
# use name column as df index

df1 = df1.set_index('name')
df1.head()

In [ ]:
df1.loc['Winston':'Alex']

In [ ]:
df1.loc[['Alex', 'Nick']]

Filter

In [ ]:
# filter all data that are in Paris

df1[df1['city']=='Paris']

Join dataframes

In [ ]:
dataframe_1 = {"PrÃ©nom":['Matthew', 'Philippe'],
              "age":['32', '45'],
              "city":['London', 'London']}

df2 = pd.DataFrame.from_dict(dataframe_1)

df2.head()

In [ ]:
print(df2.columns)

In [ ]:
# change df columns

df2.columns = ['name', 'age', 'city']
df2.head()

In [ ]:
# use name column as df index

df2 = df2.set_index('name')
df1.head()

In [ ]:
# join the dfs into a single one

frames= [df1, df2]
# concatenate all df into a single one
df = pd.concat(frames)

# check dataframe shape
print('Dataframe Shape: ', df.shape)

# visualize the last rows
df.tail()

In [ ]:
df

In [ ]:
# add region column

df['region'] = 'Europe'
df

In [ ]:
# add a column

salary = ['40000', '45000', '50000', '55000', '60000', '65000', '70000']

df['salary']= salary

print(df.shape)
df

In [ ]:
# general info of df

df.info()

In [ ]:
# convert column "a" of a DataFrame
df["age"] = pd.to_numeric(df["age"])
df["salary"] = pd.to_numeric(df["salary"])
df.info()

In [ ]:
# df describe

df.describe()

In [ ]:
# distinct cities

df.city.unique()

In [ ]:
# number of distinct cities
len(df['city'].unique())

In [ ]:
# add a column

salary = ['40000', '45000', '50000', '55000', '60000', '65000', '70000']

df['salary']= salary

print(df.shape)
df

Groupby

In [ ]:
df.groupby(by=["city"])['age'].mean()

In [ ]:
df.groupby(by=["city"])['salary'].sum()

In [ ]:
df.loc['Jess']

In [ ]:
# add a new row
df.loc['John']= [40, 'New York', 'America', '75000']
df

In [ ]:
# group by 2 variables

df.groupby(by=['region', "city"])['salary'].sum()

Pivot

In [ ]:
table = pd.DataFrame({"Box": ["wood", "wood", "wood", "wood", "wood",
                         "paper", "paper", "paper", "paper"],
                   "Color": ["red", "red", "red", "blue", "blue",
                         "red", "red", "blue", "blue"],
                   "Size": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "Qty": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "Weigth": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

table

In [ ]:
# import numpy module that help to work with numbers

import numpy as np

pivot = pd.pivot_table(table, # data to pivot
                       values='Qty', # column to aggregate
                       index=['Box', 'Color'], # Grouper, Keys to group by on the pivot table index.
                       columns=['Size'], # Keys to group by on the pivot table column., will be the columns value
                       aggfunc=np.sum)# the aggregation function

pivot

# 8. Loops

In [ ]:
# visualize code execution
# https://pythontutor.com/python-debugger.html#mode=edit

# create a list of groceries
groceries = ['Apple','Orange', 'Banana', 'Kiwi']

# iterate through list to access each element of the list
for item in groceries:
    print(item)

In [ ]:
# iterate through nested lists

kev_list = [['Apple', 4],['Orange', 2],['Banana', 6],['Kiwi', 5]]
kev_list

In [ ]:
# access 1 element from the second item
kev_list[1][0]

In [ ]:
for groceries in kev_list:
    print(groceries)

In [ ]:
# iterate through nested lists
# accesst each element as a flat list


l = kev_list.copy()
# creat an empty list where we'll store all elements
flat_list = []

for sublist in l:
    for item in sublist:
        flat_list.append(item)
flat_list

In [ ]:
# another syntax to get the same result
# iterate through a nested loop 
flat_list = [item for sublist in l for item in sublist]
flat_list

# 9. Functions

In [ ]:
def operation(x):
    result = (x + 2.6)/5.5
    print(result)


amount = operation(7)

Body Fat Calculator

In [ ]:
# body fat calculator

height = 65 # in inches (devide cm by 2,54)
weight = 110 # in pounds (multiply kg by 2,205))

# CALCULATE YOUR BODY MASS INDEX (BMI)
bmi = (weight/(height**2) ) * 703 # conversion factor of 703
bmi

In [ ]:
def bmi(height,weight):
  bmi= (weight/(height**2) ) * 703 
  print('your bmi is ', bmi)

In [ ]:
bmi(65, 110)

In [ ]:
bmi(height=65,weight=110)

*Body Fat Percentage for women*

In [ ]:
def bfp_women(bmi, age):
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 5.4
  print(body_fat_pct)

bfp_women(bmi= 24.96, age = 30)

*Body fat diagnos for women*

Women diagnosis:

20-40 yrs old: 


> 
Underfat: under 21 percent, Healthy: 21-33 percent, Overweight: 33-39 percent, Obese: Over 39 percent

41-60 yrs old:

> 

Underfat: under 23 percent, Healthy: 23-35 percent, Overweight : 35-40 percent Obese: over 40 percent 


61-79 yrs old:

> 

Underfat: under 24 percent, Healthy: 24-36 percent, Overweight: 36-42 percent, Obese: over 42 percent Men:

In [ ]:
def bfp_women_diagnosis(height, weight, age):
  bmi = (weight/(height**2) ) * 703
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 5.4
  if age <=40:
     if body_fat_pct < 21:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 21 and bmi < 33:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 33 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 40 and age <=60:
     if body_fat_pct < 23:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 23 and bmi < 35:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 35 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 60:
     if body_fat_pct < 24:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 24 and bmi < 36:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 36 and bmi < 42:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")

bfp_women_diagnosis(65, 150, 30)

*Body Fat Percentage for men*

In [ ]:
def bfp_men(height, weight, age):
  bmi  = (weight/(height**2) ) * 703
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 16.2
  print(body_fat_pct)

bfp_men(height= 69, weight= 170, age = 40)


Men:

20-40 yrs old: 
> Underfat: under 8 percent, Healthy: 8-19 percent, Overweight: 19-25 percent, Obese: over 25 percent

41-60 yrs old:

> Underfat: under 11 percent, Healthy: 11-22 percent, Overweight: 22-27 percent, Obese: over 27 percent

61-79 yrs old:

> Underfat: under 13 percent, Healthy: 13-25 percent, Overweight: 25-30 percent, Obese: over 30 percent

**Homework**

*   write a function **bfp_men_diagnosis()** that would calculate the bfp for men and would do tha diagnosis 
*   write a function **bfp_diagnosis()** that would calculate the bfp would do tha diagnosis, no matter women or men giving arguments (height= , weight= , age = , gender = )